name: Build PRG PDF
on: [push, pull_request]

jobs:
  build-pdf:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential make fonts-dejavu
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install md-to-pdf (npm)
        run: |
          npm i md-to-pdf
      - name: Create output directory
        run: |
          mkdir artifacts
      - name: Create Programmer's Reference Guide PDF
        run: |
          export PATH=$(pwd)/node_modules/.bin:$PATH
          cat .gh/header_footer.md \
          "Commander X16 Programmer's Reference Guide.md" \
          "X16 Reference - 01 - Overview.md" \
          "X16 Reference - 02 - Editor.md" \
          "X16 Reference - 03 - BASIC.md" \
          "X16 Reference - 04 - KERNAL.md" \
          "X16 Reference - 05 - Math Library.md" \
          "X16 Reference - 06 - Machine Language Monitor.md" \
          "X16 Reference - 07 - Memory Map.md" \
          "X16 Reference - 08 - Video Programming.md" \
          "X16 Reference - 09 - VERA Programmer's Reference.md" \
          "X16 Reference - 10 - VERA FX Reference.md" \
          "X16 Reference - 11 - Sound Programming.md" \
          "X16 Reference - 12 - IO Programming.md" \
          "X16 Reference - 13 - Working with CMDR-DOS.md" \
          "X16 Reference - 14 - Hardware.md" \
          "X16 Reference - 15 - Upgrade Guide.md" \
          "X16 Reference - Appendix A - Sound.md" \
          "X16 Reference - Appendix B - VERA Recovery.md" \
          "X16 Reference - Appendix C - 65C02 Processor.md" \
          "X16 Reference - Appendix D - Official Expansion Cards.md" \
          | md-to-pdf --config-file .gh/config.js --stylesheet .gh/markdown.css > "artifacts/Commander X16 Programmer's Reference Guide.pdf"
      - name: Create VERA Programmer's Reference PDF
        run: |
          export PATH=$(pwd)/node_modules/.bin:$PATH
          cat .gh/header_footer.md \
          "X16 Reference - 09 - VERA Programmer's Reference.md" \
          "X16 Reference - 10 - VERA FX Reference.md" \
          | md-to-pdf --config-file .gh/config.js --stylesheet .gh/markdown.css > "artifacts/VERA Programmer's Reference.pdf"
      - uses: actions/upload-artifact@v3
        with:
          name: x16-docs-pdf
          path: artifacts/*

